/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p');

*{
  transition: all 0.3s ease-out;
}
body{
  background:#333;
}
.App {
  text-align: center;
  vertical-align: middle;
  font-family: 'Kufam', cursive;
  box-sizing: border-box;
  display: flex;
  flex:1;
}
header {
  color:#fff;
  text-shadow: 1px 1px #000000c0;
}
header h4{
  margin:4px;
  padding:2px;
  font-size:11px;
  font-weight: normal;
}
header h4:before, 
header h4:after{
  content:"...";
  display: inline-block;
  color:#fff;
  width:15px;
  height:15px;
  font-size:20px;
  line-height: 10px;
  position: relative;
  top:-2px;
}
header h4:before{
  margin-right: 15px;
}
header h4:after{
  margin-left: 15px;
}
.Player{
  width:80%;
  height:300px;
  background: rgb(30,215,96);
  background: linear-gradient(0deg, rgba(30,215,96,1) 0%, rgba(30,189,87,1) 100%);
  display: block;
  overflow: hidden;
  margin:15% auto;
  border-radius:6px;
  box-shadow: 0 0 10px #000000dd;
  border:1px solid #3cb567;
  /* Sombra interna */
  -webkit-box-shadow: inset 0 0 10px #1b8441;
  -moz-box-shadow: inset 0 0 10px #1b8441;
  box-shadow: inset 0 0 10px #1b8441;  
}

.Player .Playing,
.Player .Playlist{
  display: block;
  width:96%;
  margin:0 2%;
  margin-bottom: 5%;
}
.Player .Playing{
  height: 70px;
  background: #000;
  border-radius: 5px;
  color:#fff;
  padding:3% 0;
  overflow:hidden;
}
.Player .Playing h1{
  position: relative;
  z-index: 5;
  cursor:pointer;
}
.Player .Playing h1:hover{
  color:#3cb567;
}
.Player .Playing h2{
  width:20px;
  margin:55px 10px;
  position: absolute;
  font-size:14px;
  opacity: 0.5;
}
.Player .Playing h5, 
.Player .Playing h6{
  font-size:10px;
  line-height: 10px;
  font-weight: normal;
  margin:0px 10px;
  padding:0;
  position: absolute;
  opacity: 0.5;
}
.Player .Playing h6{
  margin:-72px 70px;
  right:0;
}
.Player .Playing h2:hover,
.Player .Playing h3:hover,
.Player .Playing h4:hover,
.Player .Playing h5:hover, 
.Player .Playing h6:hover{
  opacity: 1;
}
.Player .Playing:after{
  content: ".";
  font-size:0px;
  line-height: 0;
  display: block;
  color:#000;
  width: 100%;
  height: 20px;
  z-index: 2;
  position: relative;
  background:#0000001a;
  margin-top:-5px;
  border-radius:5px;
}
.Player .Playing .Reflex{
  position: relative;
  width: 500px;
  height:100px;
  background:#ffffff10;
  transform: rotate(50deg);
  top:-100px;
  left: -130px;
  opacity: 0.5; 
}

/* Nav */
.Player .Nav{
  display: block;
  margin:0 auto;
  padding:2px;
  margin-bottom:15px;
  margin-top:-35px;
  background:#fff;
  width:10%;
  min-width: 100px;
  border-radius:4px;
  font-size:23px;
  box-shadow: 0 0 10px #000000dd;
  /* Sombra interna */
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc;
  z-index: 10;
  position: relative;   
}
.Player .Nav button{
  border:0;
  background:none;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  cursor:pointer;
}
/* Botões específicos */
.Player .Nav button:hover{
  opacity: 1;
}
.Player .Playlist ol{
  border-radius: 5px;
  list-style: none;
  text-align: left;
  padding:0;
  margin:0;
  color:#fff;
  font-size:12px;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.15449929971988796) 100%);  
  border:1px solid #0000000f;  
  height:120px;
  overflow:auto;
}
.Player .Playlist ol li{
  display: block;
  border-bottom: 1px solid #ffffff3f;
  padding: 4px;
  opacity: 0.5;
  cursor:pointer;
}
.Player .Playlist ol li:hover{
 opacity: 1;
}
.Player .Playlist ol li button{
  border:0;
  background: transparent;
  display: block;
  color:#fff;
  font-size:12px;  
  width:100%;
  text-align: left;
  padding:0;
  margin:0;
  outline: none;
  cursor:pointer;
}
.Player Player{
  display:none;
}