/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p');

*{
  transition: all 0.4s ease-in-out;
}
body{
  background:#333;
}
.App {
  text-align: center;
  vertical-align: middle;
  font-family: 'Kufam', cursive;
  box-sizing: border-box;
  display: flex;
  flex:1;
}
/* Scroll */
::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 0px solid transparent;
}
::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 3px #00000073;
}

header {
  color:#fff;
  text-shadow: 1px 1px #000000c0;
}
header h4{
  margin:4px;
  padding:2px;
  font-size:11px;
  font-weight: normal;
}
header h4:before, 
header h4:after{
  content:"...";
  display: inline-block;
  color:#fff;
  width:15px;
  height:15px;
  font-size:20px;
  line-height: 10px;
  position: relative;
  top:-2px;
}
header h4:before{
  margin-right: 15px;
}
header h4:after{
  margin-left: 15px;
}
.Player{
  width:70%;
  height:300px;
  background: rgb(30,215,96);
  background: linear-gradient(0deg, rgba(30,215,96,1) 0%, rgba(30,189,87,1) 100%);
  display: block;
  overflow: hidden;
  margin:15% auto;
  border-radius:6px;
  box-shadow: 0 0 10px #000000dd;
  border:1px solid #3cb567;
  /* Sombra interna */
  -webkit-box-shadow: inset 0 0 10px #1b8441;
  -moz-box-shadow: inset 0 0 10px #1b8441;
  box-shadow: inset 0 0 10px #1b8441;  
}
.Player.Compact{
  height:150px;
}

.Player .Playing,
.Player .Playlist{
  display: block;
  width:96%;
  margin:0 2%;
  margin-bottom: 17px;
}
.Player .Playing{
  height: 70px;
  background: #000;
  border-radius: 5px;
  color:#fff;
  padding:10px 0;
  overflow:hidden;
}
.Player .Playing h1 {
  position: relative;
  z-index: 5;
  cursor: pointer;
  width: 75%;
  font-size: 12px;
  text-align: left;
  margin: 15px 11px;
  display: block;
}
.Player .Playing h1:hover{
  color:#3cb567;
}
.Player .Playing h2{
  width:20px;
  margin:55px 10px;
  position: absolute;
  font-size:14px;
  opacity: 0.5;
}
.Player .Playing h5, 
.Player .Playing h6{
  font-size:10px;
  line-height: 10px;
  font-weight: normal;
  margin:0px 10px;
  padding:0;
  position: absolute;
  opacity: 0.5;
}
.Player .Playing h6 {
  left: 24px;
  top: 12px;
  position: relative;
  float: left;
  font-size: 8px;
}
.Player .Playing h2:hover,
.Player .Playing h3:hover,
.Player .Playing h4:hover,
.Player .Playing h5:hover, 
.Player .Playing h6:hover{
  opacity: 1;
}
.Player .Playing:after{
  content: ".";
  font-size:0px;
  line-height: 0;
  display: block;
  color:#000;
  width: 100%;
  height: 20px;
  z-index: 2;
  position: relative;
  background:#0000001a;
  margin-top:-5px;
  border-radius:5px;
}
.Player .Playing .Reflex{
  position: relative;
  width: 500px;
  height:100px;
  background: #ffffff30;
  transform: rotate(50deg);
  top:-100px;
  left: -130px;
  opacity: 0.5;   
}
.Player:hover .Playing .Reflex{
  opacity: 0.7; 
  left: -100px;
}
/* Progress bar*/
.ProgressBar {
  width: 65%;
  height: 1px;
  background: #424242;
  display: block;
  position: relative;
  top: -100px;
  left: 12px;
  border-radius: 100px;
}
.ProgressBar div {
  content: ".";
  display: block;
  width: 0%;
  height: 1px;
  background: red;
  font-size: 0;
}
.Player .Cover {
  float: right;
  height: 100%;
  width: 80px;
  margin: 0px 12px;
  border-radius: 5px;
  border: 1px solid #f0f0f06b;
  overflow: hidden;
}
.Player .Cover img {
  height: 100%;
  min-width: 100%;
  max-width: 120%;
}

/* Nav */
.Player .Nav{
  display: block;
  margin:0 auto;
  padding:2px;
  margin-bottom:15px;
  margin-top:-35px;
  background:#fff;
  width:10%;
  min-width: 100px;
  border-radius:4px;
  font-size:23px;
  box-shadow: 0 0 10px #000000dd;
  /* Sombra interna */
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc;
  z-index: 10;
  position: relative;   
}
.Player .Nav button{
  border:0;
  background:none;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  cursor:pointer;
}
/* Botões específicos */
.Player .Nav button:hover{
  opacity: 1;
}
.Player .Playlist ol{
  border-radius: 5px;
  list-style: none;
  text-align: left;
  padding:0;
  margin:0;
  color:#fff;
  font-size:12px;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.15449929971988796) 100%);  
  border:1px solid #0000000f;  
  height:130px;
  overflow:auto;
}
.Player .Playlist ol li{
  display: block;
  border-bottom: 1px solid #ffffff3f;
  padding: 4px;
  opacity: 0.5;
  cursor:pointer;
}
.Player .Playlist ol li:hover{
 opacity: 1;
}
.Playlist ol li.active {
  opacity: 1;
  font-weight: bold;
}
.Player .Playlist ol li button{
  border:0;
  background: transparent;
  display: block;
  color:#fff;
  font-size:12px;  
  width:100%;
  text-align: left;
  padding:0;
  margin:0;
  outline: none;
  cursor:pointer;
}
.Player Player{
  display:none;
}

/* Footer */
.Footer button {
  top: -9px;
  position: relative;
  transform: rotate(90deg);
  padding: 5px;
  border: 0px;
  color: #c0c0c0;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #0000004a;
  cursor: pointer;
  outline: none;
}
.Footer button:hover {
  top: -15px;
}
.Player.Compact .Footer button {
  top: -155px;
}
.Player.Compact .Footer button:hover {
  top: -160px;
}